
extends ../layout.pug
block content
    section.d-content
    
        h1.d-content__h1 Todos los productos

        table.d-content__table 
            thead
                tr
                    th Id

                    th Nombre

                    th Categoria

                    th Marca

                    th Descripcion

                    th Precio

                    th Imagen

                    th Estado

                    th Acciones
            
            if rows 
                each val in rows
                    tr
                        td.td__id #{val.id}

                        td.td__nombre #{val.nombre}

                        td.td__categoria #{val.categoria}

                        td.td__marca #{val.marca}

                        td.td__descripcion #{val.descripcion}

                        td.td__precio #{val.precio}

                        td.td__img
                            img(src=`${val.srcImagen}` alt=`${val.alt}`)

                        td.td__estado #{val.estado}

                        td.td__btn__action__group

                            div

                                form(action=`/dashboard/producto/${val.id}/editar` method="get")
                                    button.btn.editar_producto(data-id=`${val.id}`)
                                        svg(width="25px" height="25px")
                                            use.icon--primary(xlink:href="/img/sprite.svg#edit" fill="black" width="25px" height="25px")

                                form(action=`/dashboard/producto/${val.id}/eliminar` method="post")
                                    button.btn.eliminar_producto(data-id=`${val.id}`)
                                        svg(width="25px" height="25px")
                                            use.icon--secondary(xlink:href="/img/sprite.svg#trash-can-regular" fill="black" width="25px" height="25px")

            else
                p #{msg}


        