
extends ../layout.pug
block content
    section.d-content
    
        h1.d-content__h1 Todos los usuarios

        table.d-content__table 
            thead
                tr
                    th Id

                    th Nombre

                    th Username

                    th Tipo

                    th Acciones
            
            if usuarios 
                each val in usuarios
                    tr
                        td.td__id #{val.id}

                        td.td__nombre #{val.nombre}

                        td.td__categoria #{val.username}

                        td.td__marca #{val.UsuarioTipo_id}

                        td.td__btn__action__group

                            div

                                form(action=`/dashboard/usuario/editar/${val.id}` method="get")
                                    button.btn.editar_producto(data-id=`${val.id}`)
                                        svg(width="25px" height="25px")
                                            use.icon--primary(xlink:href="/img/sprite.svg#edit" fill="black" width="25px" height="25px")

                                form(action=`/dashboard/usuarios/${val.id}/eliminar` method="post")
                                    button.btn.eliminar_producto(data-id=`${val.id}`)
                                        svg(width="25px" height="25px")
                                            use.icon--secondary(xlink:href="/img/sprite.svg#trash-can-regular" fill="black" width="25px" height="25px")

            else
                p #{msg}


        